.item{
    border: 1px solid blanchedalmond;
    background-color: rgb(250, 168, 168);
    padding: 20px;
}
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
}
.item-1{
    grid-row: 1/7;
}
.item-2{
    grid-row: 1/2;
    grid-column: 2/5;
}
.item-3{
    grid-row: 2/4;
    grid-column: 2/3;
}
.item-4{
    grid-row: 2/4;
    grid-column: 3/4;
}
.item-5{
    grid-row: 2/3;
    grid-column: 4/5;
}
.item-6{
    grid-row: 3/4;
    grid-column: 4/5;
}
.item-7{
    grid-column: 2/5;
}
