section div{
    background-color: darkkhaki;
}
h2+p{
    color: crimson;
    font-size: bold;
}
h3~span{
    font-style: italic;
}
button:hover{
    color: darkslategray;
}
button:focus{
    color: blue;
}
h1:hover{
    background-color: darkgreen;
}
li:first-child{
    color:crimson
}
h2::before{
    content:"xinchao  ";
}
img{
    opacity: 0.7;
    width: 20%;
    height: 20%;
}
.transition{
    width: 80px;
    height: 80px;
    background-color: indianred;
    /* transition: width 2s; */
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* div:hover{
    width: 1000px;
} */
@keyframes example{
    0% {background-color: aliceblue; left: 0px; top: 0px;}
    25% {background-color: rgb(187, 223, 254); left: 200px; top: 0px;}
    50% {background-color: rgb(125, 193, 253); left: 200px; top: 100px;}
    75% {background-color: rgb(47, 158, 255); left: 0px; top: 100px;}
    100% {background-color: aliceblue; left: 0px; top: 0px;}
}